<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="https://pbs.twimg.com/profile_images/993505030798954496/aFXrgbtc_400x400.jpg">
      <p>{{ site.description }} <br>
      <!--  Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or -->
      Follow me on LinkedIn <a href="https://linkedin.com/in/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
